* {
	margin: 0px;
}

a {
	text-decoration: none;
}

body {
	font-family: Helvetica;
} 

.header {
	background-color: #2d3436;
	color: #fff;
	margin: 0px auto;
	height: 60px;
}

.header-logo .logo {
	font-size: 20px;
	line-height: 60px;
	float: left;
	margin: 0px 20px;
}

.header-menu {
	margin: 0px 20px;
}

.header-menu li {
	list-style: none;
	float:right;
}

.header-menu li:hover{
	background-color: rgba(99, 110, 114,0.3);
}

.header-menu a {
	line-height: 60px;
	display: block;
	padding: 0px 15px;
	color: #fff;
}


/** CSS dari Pak Fajar **/

.main {            
 /** padding: 100px 80px; **/            
 }            

/** Teguh : saya tambahkan css ke class copy-container **/         
.copy-container {
	padding: 100px 80px;
}

.copy-container h1 {            
 font-size: 100px;            
  }            
   
.copy-container h2 {            
  font-size: 60px;            
  }   

.copy-container h3 {
  font-size: 100px;
  font-style: 
}         
                 
 .copy-container span {            
   color: #ff4a4a;            
  }            
                                
 .contents {            
   /** height: 500px; **/            
   margin: 70px 80px;
   max-width: 1280px;            
  }            
                                
  .section-title {            
   border-bottom: 2px solid #dee7ec;            
   font-size: 28px;            
   padding-bottom: 15px;            
   margin-bottom: 50px;            
    }            
            
  .contents-item {            
   float: left;            
   margin-right: 40px;    
   text-align: center;        
   }            
                               
  .contents-item p {            
    font-size: 24px;            
    margin-top: 30px; 
    text-align: center;           
   }   

    .lesson-wrapper {            
      height: 500px;            
      padding-bottom: 80px;            
      background-color: #f7f7f7;            
      text-align: center;            
  }            
                                
    .heading {            
      padding-top: 60px;            
      padding-bottom: 30px;            
     color: #5f5d60;            
  }            
                               
    .heading h2 {            
      font-weight: normal;            
  }            
                                
    .lesson {            
       float: left;            
       width: 25%;
       text-align: center;            
  }            
    .lesson p{
      text-align: center;
  }
    .lesson-icon {            
      position: relative;            
  }            
                               
    .lesson-icon p {            
      position: absolute;            
      top: 90px;            
      width: 100%;            
      color: white;            
  }            
                                
    .txt-contents {            
      width: 80%;            
      display: inline-block;            
      margin-top: 20px;            
      font-size: 15px;            
      color: #b3aeb5;            
  }        
  .contact-form {            
    padding-top: 100px;            
  }            
                                
   input, textarea {            
    width: 400px;            
    margin-top: 10px;            
    margin-bottom: 30px;            
    padding: 20px;            
    font-size: 18px;            
    border: 1px solid #dee7ec;            
    }            
        
    .contact-submit {            
    background-color: #dee7ec;            
    color: #889eab;


  }
    .top-wrapper {            
      /** padding: 180px 0 100px 0; **/           
      background-size: cover;            
      color: white;            
      /** text-align: center; **/
      margin: 20px 0px;           
  }            
                                
    .container {            
      /** width: 1170px; **/            
      margin: 0em 0.5em;            
  }           
                                
    .top-wrapper h1 {            
      opacity: 0.7;            
      font-size: 45px;            
      letter-spacing: 5px;            
      margin-bottom: 10px;            
 }            
                                
    .top-wrapper p {            
      opacity: 0.7;            
      margin-bottom: 3px;            
  }            
                                
    .btn-wrapper {            
      margin: 20px 0;            
  }            
    .btn-wrapper p {            
      margin: 10px 0;            
  }            
                                
    .signup {            
      background-color: #239b76;            
  }            
                                
    .facebook {            
      background-color: #3b5998;            
      /** margin-right: 10px; **/           
  }            
                                
    .instagram {            
      background-color: #55acee;            
  }            
                                
    .btn {            
      padding: 12px 24px;            
      color: white;            
      display: inline-block;            
      opacity: 0.8;            
      border-radius: 4px;
      margin-right: 10px;            
  }            
                                
  .btn:hover {            
    opacity: 1;            
  }            
                                
  .fa {            
    margin-right: 5px;            
  }

  /** Teguh : tambahan class lessons **/
  .lessons {
  	margin: 20px;
  }


  /** CSS dari bu Risty **/
  .footer-main {
	/** height: 65px;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: initial;
	background-size: 30px 20px;
	font-style: serif;
	**/
	font-size: 20px;
	font-weight: normal;
	box-sizing: 30px 20px;
	
	background-color: #130f40;
	margin-top: 400px;
    padding: 20px;
    height: 100px;
	}
	.footer-logo {
		line-height: 100px;
		float:left;
	}
.footer-list {
	/** font-family: serif;**/
	font-size: 20px;
	font-weight: normal;
	float: right;
	height: 100px;
}

.footer-list h4 {
	/** font-family: serif;**/
	margin-left: 20px;
}

.footer-container {
	max-width: 1200px;
	margin: 0px auto;
	color: #fff;
}

.footer-list a {
	color: #fff;
}